{{/* chezmoi:template:line-endings=lf */}}
layout {
{{ includeTemplate ".chezmoitemplates/zellij-default-tab-template.kdl" . }}
    tab name="__ZPORTAL_CWD__" cwd="__ZPORTAL_CWD__" {
        pane split_direction="vertical" {
            pane {
                pane name="watch" cwd="src" command="node" {
                    args "RUN.js"
                }
                pane name="terminal" cwd="src"
            }
            pane
        }
    }
}
