[tools]
# Node.js ecosystem
node = "lts"
bun = "latest"
pnpm = "latest"

# Python ecosystem
python = "3"

# Miscellaneous
rust = "latest"
go = "latest"
codex = "latest"
"npm:oh-my-codex" = "latest"

{{- if eq .chezmoi.os "windows" }}
"github:psmux/psmux" = "latest"
{{- end }}
