{{ if ne .chezmoi.os "windows" -}}
##########################
# Core Configuration
##########################

unbind C-b
set -g prefix C-a
bind-key C-a send-prefix

set -g mouse on
set -g default-terminal "xterm-256color"
set -ga terminal-overrides ",xterm-256color:Tc"

set -g history-limit 10000
set -sg escape-time 10
set -g repeat-time 1000

set -g base-index 1
setw -g pane-base-index 1
set -g renumber-windows on

set -g status-interval 5
set -g automatic-rename on
set -g automatic-rename-format '#{b:pane_current_path}'

set -g set-titles on
set -g set-titles-string '#S:#I.#P #W'

##########################
# Keybindings
##########################
unbind %
bind % split-window -v -c '#{pane_current_path}'
unbind '"'
bind '"' split-window -h -c '#{pane_current_path}'

##########################
# Clipboard (OS-specific)
##########################
setw -g mode-keys vi
unbind -T copy-mode-vi Enter

{{ if eq .chezmoi.os "darwin" -}}
# macOS uses pbcopy
bind-key -T copy-mode-vi Enter send-keys -X copy-pipe-and-cancel "pbcopy"
bind-key -T copy-mode-vi MouseDragEnd1Pane send-keys -X copy-pipe-and-cancel "pbcopy"
{{ else if and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
# WSL: forward to Windows clipboard
bind-key -T copy-mode-vi Enter send-keys -X copy-pipe-and-cancel "clip.exe"
bind-key -T copy-mode-vi MouseDragEnd1Pane send-keys -X copy-pipe-and-cancel "clip.exe"
{{ else if eq .chezmoi.os "linux" -}}
# Linux bare metal with xclip
bind-key -T copy-mode-vi Enter send-keys -X copy-pipe-and-cancel "xclip -selection clipboard"
bind-key -T copy-mode-vi MouseDragEnd1Pane send-keys -X copy-pipe-and-cancel "xclip -in -selection clipboard"
{{ end -}}

##########################
# Status Bar
##########################
set -gq status-utf8 on
set -g status-interval 60
set -g status-justify centre

set -g status-left-length 40
set -g status-left '#{prefix_highlight}#[fg=green] #S #[fg=yellow]#I/#[fg=cyan]#P '
set -g status-right '#(battery -t) #[fg=cyan] %d %b %R '

set -g window-status-format "#[fg=colour15]\uE0B6#[fg=colour8,bg=colour15]#{?window_zoomed_flag,\uF531 ,}#I|#W#[fg=colour15,bg=default]\uE0B4"
set -g window-status-current-format "#[fg=colour1]\uE0B6#[fg=colour255,bold,bg=colour1]#{?window_zoomed_flag,\uF531 ,}#I|#W#[fg=colour1,bg=default]\uE0B4"

##########################
# Borders
##########################
set -g pane-border-lines heavy
set -g pane-border-indicators arrows

##########################
# Colors
##########################
set -g status-style fg=white
set -g message-style fg=white,bold,bg=colour161
set -g pane-border-style fg=colour240,bold,bg=default
set -g pane-active-border-style fg=green,bold,bg=default

##########################
# Plugins
##########################
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'
set -g @plugin 'tmux-plugins/tmux-prefix-highlight'

set -g @continuum-restore 'on'
set -g @resurrect-capture-pane-contents 'on'
set -g @prefix_highlight_empty_prompt '    '
set -g @prefix_highlight_fg 'colour231'
set -g @prefix_highlight_bg 'blue'

run '~/.tmux/plugins/tpm/tpm'
{{ end -}}
