git:
  pagers:
    - colorArg: always
      pager: delta --paging=never --line-numbers --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"
{{- if eq .chezmoi.os "windows" }}
    - useExternalDiffGitConfig: true
    - externalDiffCommand: {{ .chezmoi.homeDir -}}/Documents/PowerShell/lazygit-pager.ps1
{{- end }}
  log:
    showWholeGraph: true
    order: topo-order
  overrideGpg: true
  allBranchesLogCmds:
    - "git log --graph --all --color=always --abbrev-commit --decorate --date=relative --oneline"
    - "git log --graph --all --color=always --abbrev-commit --decorate --date=relative --pretty=format:'%C(yellow)%h%Creset %C(auto)%d%Creset %C(cyan)%an%Creset: %s %Cgreen(%cr)%Creset'"
    - "git log --graph --all --color=always --abbrev-commit --decorate --date=relative --pretty=medium"
gui:
  nerdFontsVersion: "3"
  statusPanelView: allBranchesLog
  showIcons: true
  theme:
    selectedLineBgColor:
      - reverse
customCommands:
  - key: 't'
    context: 'global'
    command: 'tig --all --graph --color'
    description: 'Open tig graph'
    output: terminal
