layout {
    swap_tiled_layout name="VERTICAL" {
        tab max_panes=5 {
            pane split_direction="vertical" {
                pane
                pane { children; }
            }
        }
        tab max_panes=8 {
            pane split_direction="vertical" {
                pane { children; }
                pane { pane; pane; pane; pane; }
            }
        }
        tab max_panes=12 {
            pane split_direction="vertical" {
                pane { children; }
                pane { pane; pane; pane; pane; }
                pane { pane; pane; pane; pane; }
            }
        }
    }

    swap_tiled_layout name="HORIZONTAL" {
        tab max_panes=5 {
            pane
            pane
        }
        tab max_panes=8 {
            pane {
                pane split_direction="vertical" { children; }
                pane split_direction="vertical" { pane; pane; pane; pane; }
            }
        }
        tab max_panes=12 {
            pane {
                pane split_direction="vertical" { children; }
                pane split_direction="vertical" { pane; pane; pane; pane; }
                pane split_direction="vertical" { pane; pane; pane; pane; }
            }
        }
    }

    swap_tiled_layout name="STACKED" {
        tab min_panes=5 {
            pane split_direction="vertical" {
                pane
                pane stacked=true { children; }
            }
        }
    }

    swap_floating_layout name="STACKED" {
        floating_panes
    }

    swap_floating_layout name="ENLARGED" {
        floating_panes max_panes=10 {
            pane { x "5%"; y 1; width "90%"; height "90%"; }
            pane { x "5%"; y 2; width "90%"; height "90%"; }
            pane { x "5%"; y 3; width "90%"; height "90%"; }
            pane { x "5%"; y 4; width "90%"; height "90%"; }
            pane { x "5%"; y 5; width "90%"; height "90%"; }
            pane { x "5%"; y 6; width "90%"; height "90%"; }
            pane { x "5%"; y 7; width "90%"; height "90%"; }
            pane { x "5%"; y 8; width "90%"; height "90%"; }
            pane { x "5%"; y 9; width "90%"; height "90%"; }
            pane focus=true { x 10; y 10; width "90%"; height "90%"; }
        }
    }

    swap_floating_layout name="SPREAD" {
        floating_panes max_panes=1 {
            pane {y "50%"; x "50%"; }
        }
        floating_panes max_panes=2 {
            pane { x "1%"; y "25%"; width "45%"; }
            pane { x "50%"; y "25%"; width "45%"; }
        }
        floating_panes max_panes=3 {
            pane focus=true { y "55%"; width "45%"; height "45%"; }
            pane { x "1%"; y "1%"; width "45%"; }
            pane { x "50%"; y "1%"; width "45%"; }
        }
        floating_panes max_panes=4 {
            pane { x "1%"; y "55%"; width "45%"; height "45%"; }
            pane focus=true { x "50%"; y "55%"; width "45%"; height "45%"; }
            pane { x "1%"; y "1%"; width "45%"; height "45%"; }
            pane { x "50%"; y "1%"; width "45%"; height "45%"; }
        }
    }

    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zjstatus" {
                format_left   "{mode}#[bg=7,fg=0,bold]#[bg=7,fg=0] {session}#[fg=7]"
                format_center "{tabs}"
                format_right  "#[fg=8]#[bg=8,fg=15]{swap_layout}  ▐#[bg=15,fg=8]{datetime}#[fg=15]"
                format_space  ""
                format_hide_on_overlength "true"
                format_precedence "rlc"

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "false"

                mode_locked        "#[fg=243]#[bg=243,fg=0,bold]LOCKED 󰌾 "
                mode_normal            "#[fg=2]#[bg=2,fg=0,bold]NORMAL 󰿆 "
                mode_tmux              "#[fg=4]#[bg=4,fg=0,bold] TMUX   "
                mode_resize            "#[fg=5]#[bg=5,fg=0,bold]RESIZE 󰩨 "
                mode_pane              "#[fg=5]#[bg=5,fg=0,bold] PANE   "
                mode_tab               "#[fg=5]#[bg=5,fg=0,bold]  TAB   "
                mode_scroll            "#[fg=5]#[bg=5,fg=0,bold]SCROLL 󰧈 "
                mode_enter_search      "#[fg=5]#[bg=5,fg=0,bold]SEARCH 󱎸 "
                mode_search            "#[fg=5]#[bg=5,fg=0,bold]SEARCH 󰹹 "
                mode_rename_tab        "#[fg=5]#[bg=5,fg=0,bold]RENAME 󰣞 "
                mode_rename_pane       "#[fg=5]#[bg=5,fg=0,bold]RENAME  "
                mode_session           "#[fg=5]#[bg=5,fg=0,bold]SESSION 󰚟"
                mode_move              "#[fg=5]#[bg=5,fg=0,bold] MOVE   "
                mode_prompt            "#[fg=5]#[bg=5,fg=0,bold]PROMPT  "

                // formatting for inactive tabs
                tab_normal              "#[fg=15]#[bg=15,fg=8]{floating_indicator}{index}|{name}#[fg=15]"
                tab_normal_fullscreen   "#[fg=15]#[bg=15,fg=8]{fullscreen_indicator}{index}|{name}#[fg=15]"
                tab_normal_sync         "#[fg=15]#[bg=15,fg=8]{sync_indicator}{index}|{name}#[fg=15]"

                // formatting for the current active tab
                tab_active              "#[fg=1]#[bg=1,fg=255,bold,italics]{floating_indicator}{index}|{name}#[fg=1]"
                tab_active_fullscreen   "#[fg=1]#[bg=1,fg=255,bold,italics]{fullscreen_indicator}{index}|{name}#[fg=1]"
                tab_active_sync         "#[fg=1]#[bg=1,fg=255,bold,italics]{sync_indicator}{index}|{name}#[fg=1]"

                // separator between the tabs
                tab_separator           " "

                // indicators
                tab_sync_indicator       " "
                tab_fullscreen_indicator " "
                tab_floating_indicator   "󰹙 "

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                datetime        "{format}"
                datetime_format "%d %b %R"
                datetime_timezone "Asia/Ho_Chi_Minh"
            }
        }
    }
}
